.menu{
  margin: auto;
  margin-top: 20px;
  padding: 5px;
}

.menu-item{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;

}

.item-a{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: 30px "SubTitle";
  font-weight: bold;

  border-radius: 10px;

  padding: 5px;

  margin: 5px;

  img{
    padding-bottom: 5px;
    width: 60px;
    height: 60px;
  }
}


