<% include header.ejs %>
<div class="main-content">

    <div class="row">

        <div class="item-col col-xs-12 col-sm-6 col-md-4" id="books-col-1">

        </div>

        <div class="item-col col-xs-12 col-sm-6 col-md-4" id="books-col-2">

        </div>

        <div class="item-col col-xs-12 col-sm-6 col-md-4" id="books-col-3">

        </div>

    </div>

</div>
<% include footer.ejs %>