<% include header.ejs %>
<div class="main-content">

    <div class="row">

        <div id="col-ch-1" class="ch-item col-xs-12 col-sm-6 col-md-3">

        </div>

        <div id="col-ch-2" class="ch-item col-xs-12 col-sm-6 col-md-3">

        </div>

        <div id="col-ch-3" class="ch-item col-xs-12 col-sm-6 col-md-3">

        </div>

        <div id="col-ch-4" class="ch-item col-xs-12 col-sm-6 col-md-3">

        </div>

    </div>

</div>
<% include footer.ejs %>