<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Winter Holiday Vibes</title>

    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png"/>

    <link rel="stylesheet" href="libs/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="less/main.less" />
    <script src="libs/less.min.js"></script>

</head>
<body>

<div class="container">

    <div class="gar"></div>

    <div class="label" id="tagTo">

        <div class="row">



            <div class="title col-xs-12">

                <div class="title-inner">

                    <div class="label-whv">
                        Winter Holiday Vibes
                    </div>

                </div>

            </div>

            <div class="count col-xs-12">

                <div class="count-inner">

                    <div class="count-title">
                        До новго року залишилося...
                    </div>

                    <div id="countdown">

                        <div class="for-count">

                            <div id="days-n">

                            </div>
                            <div class="count-t">
                                days
                            </div>

                        </div>

                        <div class="for-count">

                            <div id="hours-n">

                            </div>
                            <div class="count-t">
                                hours
                            </div>

                        </div>

                        <div class="for-count">

                            <div id="minutes-n">

                            </div>
                            <div class="count-t">
                                minutes
                            </div>

                        </div>

                        <div class="for-count seconds">

                            <div id="seconds-n">

                            </div>
                            <div class="count-t">
                                seconds
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="menu">

        <div class="row">

            <div class="menu-item col-xs-6 col-sm-4 col-md-2">
                <a id='main' class="btn item-a" href="/">Головна<img src="images/greensleeves.svg"></a>
            </div>

            <div class="menu-item col-xs-6 col-sm-4 col-md-2">
                <a id='watch' class="btn item-a" href="/films.html">Фільми<img src="images/nutcracker.svg"></a>
            </div>

            <div class="menu-item col-xs-6 col-sm-4 col-md-2">
                <a id='read' class="btn item-a" href="/books.html">Книги<img src="images/book.svg"></a>
            </div>

            <div class="menu-item col-xs-6 col-sm-4 col-md-2">
                <a id='listen' class="btn item-a" href="/music.html">Музика<img src="images/bell.svg"></a>
            </div>

            <div class="menu-item col-xs-6 col-sm-4 col-md-2">
                <a id='cook' class="btn item-a" href="/recipes.html">Рецепти<img src="images/pudding.svg"></a>
            </div>

            <div class="menu-item col-xs-6 col-sm-4 col-md-2">
                <a id='calend' class="btn item-a" href="/calendar.html">Челендж<img src="images/present.svg"></a>
            </div>

        </div>

    </div>


