<% include header.ejs %>
<div class="main-content">

    <div class="main-text">
        <p>
            За вікном вже хурделиця, звідусіль сипле холодними клаптиками снігу, а іній вже повкривав усі дерева в парку? Під ногами хрускотять
            крижані сліди останнього дощу? Кожна вулична крамниця блимає затишними вогниками, манить паром гарячих прянощів та мандаринів?
            Наближаються... зимові свята!
            <br>
            Як створити тепло та затишок для своєї родини у ці дні?
            Ми зібрали для Вас найказковіші фільми, найріздвяніші книги, найтепліший плейліст, найдомашніші рецепти та найатмосферніший зимовий
            челендж. Усе це допоможе створити святковий настрій та подарувати відчуття зимового дива. Скоріше надягайте в'язяні шкарпетки,
            загортайтеся у пухнастий вовняний плед і дозвольте собі трохи затишку із чашкою гарячого шоколаду з імбирним пряником, дзвіночками
            тихих колядок, казковими історіями та фільмами. Чотирнадцятиденний челендж підкаже, що можна робити, щоби кожен день до свят наповнився
            неповторними враженнями. Скористайтеся також підбіркою затишних кав'ярень та магазинів на карті міста, де можна придбати подарунки для
            усієї родини.
            Бажаємо теплих та приємних свят!
        </p>
    </div>

    <div class="map-inner">

        <div id="googleMap" class="mapsSetting"></div>

    </div>

</div>
<% include footer.ejs %>