<% include header.ejs %>
<div class="main-content">

    <div class="main-text">
        gfdkjs
    </div>

    <div class="map-inner">

        <div id="googleMap" class="mapsSetting"></div>

    </div>

</div>
<% include footer.ejs %>