<div class="challenge" data-tooltip="<%= challenge.text%>">

    <div class="challenge-item">
        <div class="challnege-inner">
            <%= challenge.id%>
        </div>
        <div class="challenge-text">
            день
        </div>

    </div>

</div>