<div class="music">
 <div class="row">

    <div class="music-title col-sm-6 col-md-3 col-xs-12">
        <%= music.title%>
    </div>

    <div class="music-audio col-sm-6 col-md-3 col-xs-12">
        <audio controls>
            <source src="<%= music.track%>" type="audio/mp3">
        </audio>
    </div>

    <div class="music-artist col-sm-6 col-md-3 col-xs-12">
        Виконавець: <%= music.artist%>
    </div>

    <div class="music-genre col-sm-6 col-md-3 col-xs-12">
        Жанр: <%= music.genre%>
    </div>

 </div>
</div>