<div class="pin">
    <div class="pin-name">
        <%= pin.name%>
    </div>
    <div class="pin-type">
        Тип: <%= pin.type%>
    </div>
    <div class="pin-adress">
        Адреса: <%= pin.adress%>
    </div>
</div>