<div class="item">

    <div class="item-title">
        <%= recipe.title%>
    </div>

    <div class="item-image">
        <div class="item-image-inner">
            <img src="<%= recipe.icon%>">
        </div>
    </div>

    <div class="item-type">
        Тип: <%= recipe.type%>  <%= recipe.subtype%>
    </div>

</div>